@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@400;700&display=swap');
:root{
    --bela:#fff;
    --orange:rgb(255,138,91);
    --siva:#555;
    --moka:#FCEADE;
    --black:#000;
    --transition: .4s ease;
}
body{
    font-family: 'Roboto' sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu' sans-serif;
}
.py-5{
    padding: 100px 0 !important;
}
.title h2{
    font-size: 45px;
    text-transform: uppercase;
    color: var(--orange);
}
button{
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid var(--orange);
    background: transparent;
    text-transform: uppercase;
    margin: 0 10px;
    transition: var(--transition);
}
button:hover{
    text-decoration: none;
}
/************************
NAV
************************/
.navbar{
    border-top: 5px solid var(--orange);
    background: var(--black);
    padding: 0;
    margin: 0;
}
.navbar-brand{
    background: var(--orange);
    padding: 15px 40px;
    color: var(--bela);
    text-shadow: 0 0 2px var(--black);
    transition: var(--transition);
    font-style: italic;
}
.navbar-brand:hover{
    color: var(--black);
    text-shadow: 0 0 2px var(--bela);
   
}
.navbar .nav-link{
    color: var(--orange);
    font-size: 20px;
    margin: 0 10px;
    transition: var(--transition);
}
.navbar .nav-link:hover{
    color: var(--moka);
}
/************************
BANNER
************************/
#banner{
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.99)), url(img/banner.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
#banner::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--black);
    transform: skewY(10deg);
    transform-origin: left bottom;
    bottom: 0;
    z-index: -1;
}
#banner .row{
    height: 80vh;
}
#banner h2{
    color: var(--orange);
    margin-bottom: 30px;
}
#banner .bannerBtn{
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    border: 2px solid var(--orange);
    background: transparent;
    color: var(--bela);
    text-transform: uppercase;
    margin: 0 10px;
    transition: var(--transition);
}
#banner .bannerBtn:hover{
    
    background: var(--orange);
    color: var(--black);
}
/************************
BANNERICONS
************************/
.bannerIcons{
    margin-top: -80px;
}
.bannerIcons ul li{
    background: var(--orange);
    margin: 0 10px;
    padding: 10px;
    color: var(--bela);
}
.bannerIcons ul li i{
    font-size: 50px;
    transition: var(--transition);
}
.bannerIcons ul li i:hover{
    color: var(--black);
}
/************************
Services
************************/
#services{
   margin-top: 100px;
}
#services i{
    font-size: 60px;
    color: var(--bela);
    background: var(--orange);
    padding: 50px;
    transition: var(--transition);
}
#services i:hover{
    background: var(--black);
    
}
#services .fa-apple{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
#services .fa-android{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
#services .fa-php{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
#services .fa-js{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
/************************
Contact
************************/
#contact{
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/contact.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /*Da se slika ne pomera dok se skrola*/
    height: 70vh;
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
}
#contact .row{
    height: 50vh;
}
#contact h2{
    font-size: 5em;
    color: var(--bela);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
}
#contact input{
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--bela);
    border-radius: 0;
    font-size: 2em;
}
#contact button{
    padding: 10px 30px;
    font-size: 2em;
    margin-left: 30px;
    color: var(--orange);
}
#contact button:hover{
    background: var(--orange);
    color: var(--black);
}
/************************
TEAM
************************/
.carousel-caption{
    background: rgba(255,138,91,.7);
    bottom: 50px;
}
#team .row{
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}